body {
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica", "Arial";
}

h2 {
  font-weight: normal;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-size: 18px;
  cursor: pointer;
}

#startQuiz {
  background-color: rgb(0, 158, 227);
}

#startQuiz2 {
  background-color: rgb(0, 70, 153);
}

#startQuiz3 {
  background-color: rgb(0, 150, 78);
}

#startQuiz4 {
  background-color: rgb(229, 48, 9);
}
#startQuiz5 {
  background-color: rgb(255, 237, 0);
}
#startQuiz6 {
  background-color: rgb(229, 0, 125);
}
.next-question {
  background-color: goldenrod;
}
.container {
  width: 480px;
  margin: 0 auto;
  text-align: left;
}

.options {
  margin: 10px 0;
}

.next-question {
  margin-right: 10px;
}
